<web-app>
    <servlet>
        <servlet-name>FirstServlet</servlet-name>
        <servlet-class>com.wt.week6.FirstServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>FirstServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
</web-app>
